$primary-weaker: #9e9dcd;

.o_impression_component {
    border: 2px solid $o-brand-primary;

    .row {
        border: 1px solid $primary;
        button {
            margin-right: 3px;
        }
    }
    .style-header {
        border: 1px solid $primary;
        color: white;
        background-color: $o-brand-primary;
    }
    .border-bottom-custom {
        border-bottom: 2px solid $primary-weaker;
    }
}
