.o_conditions_view {
    //background-color: rgba(255, 10, 10, 0.7);
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #dc3545;
    text-align: center;
}

.o_warning_title_text {
    color: black;
    font-weight: bold;
    font-size: 14px;
}
